{% extends 'layout.html' %}

{% block content %}
	<div class="">
    <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="">Create Post</legend>

				<div class="">
					{{ form.post_pic.label(class="") }}

					{% if form.post_pic.errors%}
						{{ form.post_pic(class="") }}
						<div class="">
							{% for error in form.post_pic.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.post_pic(class=" ") }}
					{% endif %}

				</div>

        <div class="">
					{{ form.caption.label(class="") }}

					{% if form.caption.errors%}
						{{ form.caption(class="") }}
						<div class="">
							{% for error in form.caption.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.caption(class=" ") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
    <div class="InstagramCreatePost" style="width: 406px; height: 830px; position: relative; background: white">
        <div class="Post" style="width: 431px; height: 426px; left: -24px; top: 167px; position: absolute">
          <div class="PostTop" style="width: 375px; height: 54px; left: 25px; top: 0px; position: absolute">
            <div class="Rectangle" style="width: 375px; height: 54px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 0.33000001311302185px 0px rgba(60, 60, 67, 0.29)"></div>
            <div class="TokyoJapan" style="left: 51px; top: 27px; position: absolute; color: #262626; font-size: 11px; font-family: Poppins; font-weight: 400; letter-spacing: 0.07px; word-wrap: break-word">Palembang, Indonesia</div>
            <img class="Oval" style="width: 32px; height: 32px; left: 10px; top: 11px; position: absolute; border: 0.50px rgba(0, 0, 0, 0.10) solid" src="../static/images/1.jpeg" />
            <div class="JevenIgs" style="width: 69px; left: 51px; top: 9px; position: absolute; color: black; font-size: 10px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">jeven_igs</div>
          </div>
          <img class="Derenmabok1" style="width: 431px; height: 372px; left: 0px; top: 54px; position: absolute; border-radius: 5px" src="../static/images/3.png" />
        </div>
        <input class="CaptionWaduhBang" style="width: 362px; height: 60px; left: 12px; top: 613px; position: absolute; color: #FFFFFF; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Caption : Waduh bang</input>
        <div class="Button" style="width: 371.35px; height: 44.98px; left: 11px; top: 684px; position: absolute; opacity: 0.50">
          <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
          <button class="Submit" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</button>
        </div>
        <img class="InstagramLogo" style="width: 113.68px; height: 61px; left: 146.16px; top: 57.07px; position: absolute" src="../static/images/inst.png" />
      </div>
</body>
</html> -->