{% extends 'layout.html' %}

{% block content %}
	<div class="">
    <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<div class="">
					{{ form.caption.label(class="") }}

					{% if form.caption.errors%}
						{{ form.caption(class="") }}
						<div class="">
							{% for error in form.caption.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.caption(class=" ") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup </title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
    <div class="SignUp" style="width: 375px; height: 620px; position: relative; background: white">
        <div class="Form" style="width: 343px; height: 158.05px; left: 16px; top: 195.47px; position: absolute">
          <div class="Username" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute">
            <form class="Rectangle" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid">43242</form>
            <input type="text" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute" name="username" value="" placeholder="Username">Username</div>
          <div class="Fullname" style="width: 343px; height: 33.60px; left: 0px; top: 42.76px; position: absolute">
            <div class="Rectangle" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
            <input type="text" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute" name="fullname" value="" placeholder="Full Name">
          </div>
          <div class="Email" style="width: 343px; height: 33.60px; left: 0px; top: 85.52px; position: absolute">
            <div class="Rectangle" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
            <input type="text" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute" name="email" value="" placeholder="Email">
          </div>
          <div class="Password" style="width: 343px; height: 33.60px; left: 0px; top: 128.28px; position: absolute">
            <div class="Rectangle" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
            <input type="password" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute" name="password" value="" placeholder="Password">
          </div>
          <div class="ConfirmPassword" style="width: 343px; height: 33.60px; left: 0px; top: 171.04px; position: absolute">
            <div class="Rectangle" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
            <input type="password" style="width: 343px; height: 33.60px; left: 0px; top: 0px; position: absolute" name="confirm_password" value="" placeholder="Confirm Password">
          </div>
          <div class="Button" style="width: 350px; height: 33.60px; left: 0px; top: 215.08px; position: absolute; opacity: 0.50">
            <button class="Rectangle" style="width: 350px; height: 33.60px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px">Sign Up</button>
          </div>
        </div>
        <div class="Rectangle" style="width: 375px; height: 44px; left: 0px; top: 0px; position: absolute; background: white"></div>
      </div>
</body>
</html> -->