<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
  <div class="InstagramForgotPassword" style="width: 406px; height: 830px; position: relative; background: white">
    <img class="InstagramLogo" style="width: 182px; height: 61px; left: 91px; top: 88px; position: absolute" src="../static/images/inst.png" />
    <div class="Button" style="width: 371.35px; height: 44.98px; left: 17px; top: 295.98px; position: absolute; opacity: 0.50">
      <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
      <button class="Submit" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</button>
    </div>
    <div class="Email" style="width: 371.35px; height: 44.98px; left: 17px; top: 169px; position: absolute">
      <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
      <input class="Email" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Email">Email</input>
    </div>
  </div>
</body>
</html>