<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
  <div class="InstagramLoginForm" style="width: 406px; height: 830px; position: relative; background: white">
    <a href = "" class="DonTHaveAnAccoun" style="left: 81px; top: 538px; position: absolute; text-align: center"><span style="color: rgba(0, 0, 0, 0.40); font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Don’t have an account? </span><span style="color: #3797EF; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Sign up.</span></a>
    <div class="SeperatorOr" style="width: 371.35px; left: 18px; top: 511px; position: absolute">
      <div class="Or" style="width: 19.49px; left: 175.93px; top: 0px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.40); font-size: 12px; font-family: Poppins; font-weight: 900; word-wrap: break-word">OR</div>
      <div class="Line" style="width: 142.91px; height: 1.02px; left: 0px; top: 9.54px; position: absolute; border: 0.33px rgba(0, 0, 0, 0.20) solid"></div>
      <div class="Line" style="width: 142.91px; height: 1.02px; left: 228.44px; top: 9.54px; position: absolute; border: 0.33px rgba(0, 0, 0, 0.20) solid"></div>
    </div>
    <div class="Form" style="width: 371.35px; height: 211.59px; left: 17.32px; top: 261.67px; position: absolute">
      <a href = "" class="ForgotPassword" style="width: 114.76px; left: 256.59px; top: 122.33px; position: absolute; text-align: right; color: #3797EF; font-size: 12px; font-family: Poppins; font-weight: 500; letter-spacing: 0.15px; word-wrap: break-word">Forgot password?</a>
      <div class="Username" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input class="Username" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Username">Username</input>
      </div>
      <div class="Password" style="width: 371.35px; height: 44.98px; left: 0px; top: 57.24px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input class="Password" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word" placeholder = "  Password">Password</input>
      </div>
      <div class="Button" style="width: 371.35px; height: 44.98px; left: 0px; top: 166.61px; position: absolute; opacity: 0.50">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
        <button class="LogIn" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px; font-size: 14px; font-family: Poppins; font-weight: 900; word-wrap: break-word">Log in</button>
      </div>
    </div>
    <img class="InstagramLogo" style="width: 182px; height: 60px; left: 96px; top: 168px; position: absolute" src="../static/images/inst.png" />
  </div>
</body>
</html>