{% extends 'layout.html' %}

{% block content %}
	<div class="">
    <form method="POST" action="" enctype="multipart/form-data">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="">Profile Edit</legend>

				<div class="">
					{{ form.username.label(class="") }}

					{% if form.username.errors%}
						{{ form.username(class="") }}
						<div class="">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class=" ") }}
					{% endif %}

				</div>

				<div class="">
					{{ form.fullname.label(class="") }}

					{% if form.fullname.errors%}
						{{ form.fullname(class="") }}
						<div class="">
							{% for error in form.fullname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fullname(class=" ") }}
					{% endif %}

				</div>

				<div class="">
					{{ form.email.label(class="") }}

					{% if form.email.errors%}
						{{ form.email(class="") }}
						<div class="">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class=" ") }}
					{% endif %}

				</div>

        		<div class="">
                    {{ form.profile_pic.label(class="") }}

                    {% if form.profile_pic.errors %}
                        {{ form.profile_pic(class="file-input") }}
                        <div class="">
                            {% for error in form.profile_pic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.profile_pic(class="file-input", onchange="previewImage(this)") }}
                    {% endif %}

                    <div class="image-preview">
                        <img id="preview" src="#" alt="Preview" style="display: none; max-width: 100%; max-height: 200px;">
                    </div>
                </div>

				<div class="">
					{{ form.bio.label(class="") }}

					{% if form.bio.errors%}
						{{ form.bio(class="") }}
						<div class="">
							{% for error in form.bio.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.bio(class=" ") }}
					{% endif %}

				</div>
				<small class="">
					<a href="{{ url_for('reset') }}">Reset Password</a>
				</small>
			</fieldset>
			<div class=""style="width: 93%;">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
		<script>
			function previewImage(input) {
				var preview = document.getElementById('preview');
				var file = input.files[0];
				var reader = new FileReader();
	
				reader.onload = function (e) {
					preview.src = e.target.result;
					preview.style.display = 'block';
				};
	
				if (file) {
					reader.readAsDataURL(file);
				} else {
					preview.src = '#';
					preview.style.display = 'none';
				}
			}
		</script>
	</div>
{% endblock content %}