{% extends 'layout.html' %}

{% block content %}
	<div class="">
    <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="">Profile Edit</legend>

				<div class="">
					{{ form.username.label(class="") }}

					{% if form.username.errors%}
						{{ form.username(class="") }}
						<div class="">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.username(class=" ") }}
					{% endif %}

				</div>

				<div class="">
					{{ form.fullname.label(class="") }}

					{% if form.fullname.errors%}
						{{ form.fullname(class="") }}
						<div class="">
							{% for error in form.fullname.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.fullname(class=" ") }}
					{% endif %}

				</div>

				<div class="">
					{{ form.email.label(class="") }}

					{% if form.email.errors%}
						{{ form.email(class="") }}
						<div class="">
							{% for error in form.email.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.email(class=" ") }}
					{% endif %}

				</div>

        		<div class="">
					{{ form.profile_pic.label(class="") }}

					{% if form.profile_pic.errors%}
						{{ form.profile_pic(class="") }}
						<div class="">
							{% for error in form.profile_pic.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.profile_pic(class=" ") }}
					{% endif %}

				</div>

				<div class="">
					{{ form.bio.label(class="") }}

					{% if form.bio.errors%}
						{{ form.bio(class="") }}
						<div class="">
							{% for error in form.bio.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.bio(class=" ") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
    <div class="InstagramProfileEdit" style="width: 410px; height: 830px; position: relative; background: white">
        <div class="ProfilePhoto" style="width: 406px; height: 164.06px; left: 0px; top: 89.95px; position: absolute">
          <div class="Rectangle" style="width: 406px; height: 163.55px; left: 0px; top: 0px; position: absolute; background: white"></div>
          <div class="ChangeProfilePhoto" style="width: 146.16px; left: 129.92px; top: 133.05px; position: absolute; text-align: center; color: #3897F0; font-size: 13px; font-family: Poppins; font-weight: 900; line-height: 21px; word-wrap: break-word">Change Profile Photo</div>
          <img class="Oval1" style="width: 102.85px; height: 97.11px; left: 151.57px; top: 18.91px; position: absolute; border: 0.50px rgba(0, 0, 0, 0.10) solid" src="../static/images/1.jpeg" />
          <div class="Seperator" style="width: 406px; height: 1.02px; left: 0px; top: 163.04px; position: absolute; border: 0.33px rgba(60, 60, 67, 0.29) solid"></div>
        </div>
        <div class="CommonInfo" style="width: 406px; height: 212px; left: 0px; top: 244px; position: absolute">
          <div class="Rectangle" style="width: 406px; height: 212px; left: 0px; top: 0px; position: absolute; background: white; box-shadow: 0px 0.33000001311302185px 0px rgba(60, 60, 67, 0.29)"></div>
          <div class="Field" style="width: 406px; height: 48.92px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle" style="width: 406px; height: 48.92px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div class="Name" style="width: 44.39px; left: 17.32px; top: 15px; position: absolute; color: #262626; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Name</div>
            <div class="Input" style="width: 302.06px; height: 48.92px; left: 103.94px; top: 0px; position: absolute">
              <div class="Rectangle" style="width: 302.06px; height: 48.92px; left: 0px; top: 0px; position: absolute; background: white"></div>
              <div class="JacobWest" style="width: 267.42px; left: 17.32px; top: 14px; position: absolute; color: #262626; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Jacob West</div>
            </div>
          </div>
          <div class="Field" style="width: 406px; height: 48.92px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle" style="width: 406px; height: 48.92px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <div class="Username" style="width: 76.87px; left: 17.32px; top: 15px; position: absolute; color: #262626; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Username</div>
            <div class="Input" style="width: 312px; height: 49px; left: 94px; top: 0px; position: absolute">
              <div class="Rectangle" style="width: 312px; height: 61px; left: 0px; top: 0px; position: absolute; background: white"></div>
              <input class="JacobW" style="width: 276.22px; left: 17.89px; top: 15px; position: absolute; color: #262626; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">jeven_igs</input>
            </div>
          </div>
        </div>
        <div class="Field" style="width: 406px; height: 61px; left: 0px; top: 283px; position: absolute">
          <div class="Rectangle" style="width: 406px; height: 61px; left: 0px; top: 0px; position: absolute; background: white"></div>
          <div class="Email" style="width: 40.06px; left: 17.32px; top: 22px; position: absolute; color: #262626; font-size: 15px; font-family: Poppins; font-weight: 400; word-wrap: break-word">Email</div>
          <div class="Input" style="width: 302px; height: 61px; left: 94px; top: 0px; position: absolute">
            <div class="Rectangle" style="width: 302px; height: 61px; left: 0px; top: 0px; position: absolute; background: white"></div>
            <input type = "text" class="JacobWestGmailCom" style="width: 276px; height: 30px; left: 18px; top: 15px; position: absolute; color: #262626; font-size: 16px; font-family: Poppins; font-weight: 400; word-wrap: break-word">jevenganteng123@gmail.com</input>
          </div>
        </div>
        <div class="Password" style="width: 69px; height: 18px; left: 18px; top: 348px; position: absolute; color: #262626; font-size: 15px; font-family: Inter; font-weight: 400; word-wrap: break-word">Password</div>
        <input style="width: 276px; height: 30px; left: 112px; top: 347px; position: absolute; color: black; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">******</input>
        <div class="Button" style="width: 371.35px; height: 44.98px; left: 18px; top: 415px; position: absolute; opacity: 0.50">
          <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
          <button class="Submit" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</button>
        </div>
        <div class="EditProfile" style="width: 406px; left: 0px; top: 40px; position: absolute; text-align: center; color: black; font-size: 16px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word">Edit Profile</div>
      </div>
</body>
</html> -->