<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
  <div class="InstagramResetPassword" style="width: 406px; height: 830px; position: relative; background: white">
    <div class="Form" style="width: 374.35px; height: 190.98px; left: 17px; top: 210px; position: absolute">
      <div class="Frame2" style="width: 371.35px; height: 44.98px; left: 3px; top: 76px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: -1px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "password" class="NewPassword" style="width: 371.35px; height: 44.98px; left: 0px; top: -1px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  New Password"><br/>   New password</input>
      </div>
      <div class="Frame3" style="width: 371.35px; height: 44.98px; left: 3px; top: 146px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "password" class="ConfirmPassword" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Confirm Password"><br/>   Confirm password<br/></input>
      </div>
      <div class="Frame1" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input class="OldPassword" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Old Password"><br/>   Old password<br/></input>
      </div>
    </div>
    <img class="InstagramLogo" style="width: 182px; height: 61px; left: 91px; top: 88px; position: absolute" src="../static/images/inst.png" />
    <div class="Button" style="width: 371.35px; height: 44.98px; left: 17px; top: 441px; position: absolute; opacity: 0.50">
      <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
      <button class="Submit" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</button>
    </div>
  </div>
</body>
</html>