<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup </title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
  <div class="InstagramSignUpForm" style="width: 406px; height: 830px; position: relative; background: white">
    <div class="SeperatorOr" style="width: 371.35px; left: 17px; top: 503px; position: absolute">
      <div class="Or" style="width: 19.49px; left: 175.93px; top: 0px; position: absolute; text-align: center; color: rgba(0, 0, 0, 0.40); font-size: 12px; font-family: Poppins; font-weight: 900; word-wrap: break-word">OR</div>
      <div class="Line" style="width: 142.91px; height: 1.02px; left: 0px; top: 9.54px; position: absolute; border: 0.33px rgba(0, 0, 0, 0.20) solid"></div>
      <div class="Line" style="width: 142.91px; height: 1.02px; left: 228.44px; top: 9.54px; position: absolute; border: 0.33px rgba(0, 0, 0, 0.20) solid"></div>
    </div>
    <div class="Form" style="width: 372.03px; height: 316.26px; left: 17.32px; top: 157px; position: absolute">
      <div class="Password" style="width: 371.35px; height: 44.98px; left: 0.68px; top: 159px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "password" class="Password" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Poppins; font-weight: 400; word-wrap: break-word" placeholder = "  Password">Password</input>
      </div>
      <div class="Button" style="width: 371.35px; height: 44.98px; left: 0px; top: 271.29px; position: absolute; opacity: 0.50">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
        <button class="SignUp" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px; text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Sign up</button>
      </div>
      <div class="ConfirmPassword" style="width: 371.35px; height: 44.98px; left: 0.68px; top: 213px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "password" class="ConfirmPassword" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Confirm Password">Confirm password</input>
      </div>
      <div class="Email" style="width: 371.35px; height: 44.98px; left: 0.68px; top: 106px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "text" class="Email" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Email">Email</input>
      </div>
      <div class="Username" style="width: 371.35px; height: 44.98px; left: 0.68px; top: 0px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "text" class="Username" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Username">Username</input>
      </div>
      <div class="Fullname" style="width: 371.35px; height: 44.98px; left: 0.68px; top: 53px; position: absolute">
        <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
        <input type = "text" class="Fullname" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Full Name">Fullname<br/></input>
      </div>
    </div>
    <img class="InstagramLogo" style="width: 182px; height: 60px; left: 91px; top: 88px; position: absolute" src="../static/images/inst.png " />
    <a href = "" class="AlreadyHaveAnAccountLogIn" style="width: 239px; height: 19px; left: 78px; top: 535px; position: absolute; text-align: center"><span style="color: rgba(0, 0, 0, 0.20); font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">already have an account? </span><span style="color: rgba(55, 151, 239, 0.89); font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word">Log in</span></a>
  </div>
</body>
</html>