{% extends 'layout.html' %}

{% block content %}
	<div class="">
    <form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="">
				<legend class="">Verification</legend>

				<div class="">
					{{ form.password.label(class="") }}

					{% if form.password.errors%}
						{{ form.password(class="") }}
						<div class="">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.password(class=" ") }}
					{% endif %}

				</div>

        <div class="">
					{{ form.confirm_password.label(class="") }}

					{% if form.confirm_password.errors%}
						{{ form.confirm_password(class="") }}
						<div class="">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.confirm_password(class=" ") }}
					{% endif %}

				</div>
			</fieldset>
			<div class="">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verification</title>
    <style>
      * {
        margin : auto;  
      }
    </style>
</head>
<body>
    <div class="InstagramVerificationResetPassword" style="width: 406px; height: 830px; position: relative; background: white">
        <div class="Form" style="width: 371.35px; height: 195.98px; left: 17px; top: 141px; position: absolute">
          <div class="Button" style="width: 371.35px; height: 44.98px; left: 0px; top: 151px; position: absolute; opacity: 0.50">
            <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #3797EF; border-radius: 5px"></div>
            <div class="Submit" style="width: 88px; height: 26px; left: 133px; top: 9px; position: absolute; text-align: center; color: white; font-size: 20px; font-family: Inter; font-weight: 400; word-wrap: break-word">Submit</div>
          </div>
          <div class="ConfirmPassword" style="width: 371.35px; height: 44.98px; left: 0px; top: 66px; position: absolute">
            <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
            <input type = "password" class="ConfirmPassword" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Confirm Password">Confirm password</input>
          </div>
          <div class="Password" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute">
            <div class="Rectangle" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid"></div>
            <input type = "password"class="Password" style="width: 371.35px; height: 44.98px; left: 0px; top: 0px; position: absolute; background: #FAFAFA; border-radius: 5px; border: 0.50px rgba(0, 0, 0, 0.10) solid; font-size: 14px; font-family: Inter; font-weight: 400; word-wrap: break-word" placeholder = "  Password">Password</input>
          </div>
        </div>
        <img class="InstagramLogo" style="width: 182px; height: 61px; left: 91px; top: 88px; position: absolute" src="../static/images/inst.png" />
      </div>
</body>
</html> -->