<header>
    <img src="#" alt="logo">
    <ul>
        <li>
            <a href="{{ url_for('about') }}">About</a>
        </li>
        <li>
            <a href="{{ url_for('login') }}">Login</a>
        </li>
        <li>
            <a href="{{ url_for('edit_profile') }}">Edit Profile</a>
        </li>
        <li>
            <a href="{{ url_for('reset') }}">Reset Password</a>
        </li>
        <li>
            <a href="{{ url_for('forgot') }}">Forgot password</a>
        </li>
        <li>
            <a href="{{ url_for('verif') }}">Verification</a>
        </li>
        <li>
            <a href="{{ url_for('create') }}">Create Post</a>
        </li>
        <li>
            <a href="{{ url_for('edit_post') }}">Edit Post</a>
        </li>
    </ul>
</header>